@model Mesa04.Models.Operacao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Operacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Taxa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Taxa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Despesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Despesa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fluxo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fluxo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Banco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Banco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperacaoStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperacaoStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
