@model Mesa04.Models.ViewModels.OperacaoFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Operacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Operacao.Id" />
            <div class="form-group">
                <label asp-for="Operacao.Data" class="control-label"></label>
                <input asp-for="Operacao.Data" class="form-control" />
                <span asp-validation-for="Operacao.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.TipoOperacao" class="control-label"></label>
                <select asp-for="Operacao.TipoOperacaoId" asp-items="@(new SelectList(Model.TipoOperacaos,"Id","Nome"))" class="form-control"></select>
                <span asp-validation-for="Operacao.TipoOperacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.Operador" class="control-label"></label>
                <select asp-for="Operacao.OperadorId" asp-items="@(new SelectList(Model.Operadores,"Id","Nome"))" class="form-control"></select>
                <span asp-validation-for="Operacao.Operador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.Cliente" class="control-label"></label>
                <select asp-for="Operacao.ClienteId" asp-items="@(new SelectList(Model.Clientes,"Id","Nome"))" class="form-control"></select>
                <span asp-validation-for="Operacao.Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.Me" class="control-label"></label>
                <select asp-for="Operacao.MeId" asp-items="@(new SelectList(Model.Mes,"Id","Abreviacao"))" class="form-control"></select>
                <span asp-validation-for="Operacao.Me" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.Valor" class="control-label"></label>
                <input asp-for="Operacao.Valor" class="form-control" />
                <span asp-validation-for="Operacao.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.Taxa" class="control-label"></label>
                <input asp-for="Operacao.Taxa" class="form-control" />
                <span asp-validation-for="Operacao.Taxa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.Despesa" class="control-label"></label>
                <input asp-for="Operacao.Despesa" class="form-control" />
                <span asp-validation-for="Operacao.Despesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.FluxoMn" class="control-label"></label>
                <input asp-for="Operacao.FluxoMn" class="form-control" />
                <span asp-validation-for="Operacao.FluxoMn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.FluxoMe" class="control-label"></label>
                <input asp-for="Operacao.FluxoMe" class="form-control" />
                <span asp-validation-for="Operacao.FluxoMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.BancoMe" class="control-label"></label>
                <select asp-for="Operacao.BancoMeId" asp-items="@(new SelectList(Model.BancoMes,"Id","Nome"))" class="form-control"></select>
                <span asp-validation-for="Operacao.BancoMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao.OperacaoStatus" class="control-label"></label>
                <select asp-for="Operacao.OperacaoStatusId" asp-items="@(new SelectList(Model.OperacaoStatuss,"Id","Nome"))" class="form-control"></select>
                <span asp-validation-for="Operacao.OperacaoStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
